<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
</head>
<body bgcolor="#FFE4C4" style="font-family:Arial, Helvetica, sans-serif">

    <h2 style="font-size:18px">Fasta format:</h2>
    The first line is any text that starts with ">" and the analysis only works for fasta header with "|" character and labels. The second line is the sequence itself.<br>

    <h3 style="font-size:18px">For example:</h3>
    >Q58183|1<br>
    MERLPYEIVSTIFRKAILHYVLIRGTTYPQSLAENLNISKGLASSFLRLCSALNIMKRERAGHKVLYSFTSKGLAILKRLAPEIFDLSFSSVFEQLPKKKIATKYYPVDKIGFEISWKEDKLGGIVFSFFDSNGEHLGDVFRSNKGYWWCVICQSDTCKHIDYLKRLYKTLKNQD<br>
    >Q09244|1<br>
    MRLPRRLKIKRFHKPSCSSILPKYPGCPFSLNLSLSFLNFTHYDVHLQMINRFFPNVYYSVVIPIILLSTSYSAKIAPKCRDTDMNCAVWVATNTSDCENVELVNSHCPRTCQTCGEPIDPKYDVKLLPAKLKSIAWMVGRWRSEFGGKAFFPTIPKFTYGEQVDITIADNSQDTHTPLLNYTAFAWDINMPDGDPTEIHSENGYIAVEYDKEQEKEYVSLNTAMSNGFMTIEEGESGPNQVKFRLQRIGRISFS<br>
    >P51871|2<br>
    MLQLSLSRLGMGSLTASPWHLLLLGGASWILARILAWIYTFYDNCCRLRCFPQPPKPSWFWGHLTLMKNNEEGMQFIAHLGRNFRDIHLSWVGPVYPILRLVHPNVIAPLLQASAAVAPKEMTLYGFLKPWLGDGLLMSAGEKWNHHRRLLTPAFHFDILKSYVKIFNKSVNTMHAKWQRLTAKGSARLDMFEHISLMTLDSLQKCIFSFDSNCQESNSEYIAAILELSSLIVKRQRQPFLYLDFLYYLTADGRRFRKACDVVHNFTDAVIRERRSTLNTQGVDEFLKARAKTKTLDFIDVLLLAKDEHGKGLSDVDIRAEADTFMFGGHDTTASALSWILYNLARHPEYQERCRQEVRELLRDREPEEIEWDDLAQLPFLTMCIKESLRLHPPVLLISRCCSQDIVLPDGRVIPKGNICVISIFGVHHNPSVWPDPEVYNPFRFDPENPQKRSPLAFIPFSAGPRNCIGQTFAMSEIKVALALTLLRFCVLPDDKEPRRKPELILRAEGGLWLRVEPLSTVTSQLPWDLLAHPPTS<br>
    >Q92I62|2<br>
    MLPLLKKLYLTFARSSRIIITLVIIDQLSKWWFIDNLRWKSGLMLKVTSFLNMVYTWNYGISFGLMREYYQYSNAIFLITNTIIVCYLYYLMIRSKTIGSFAGYSFVIGGAVGNLIDRFFRGAVFDFIHFHYQNYSFPVFNLADCFIIIGVIILIEDYYSTKKVIEEKAKGNYDNAQIEAMAEKIRNTDKGGNDKIASLQN<br>
</body>
</html>
